<p>services-list works!</p>

<div class="container-fluid">
  <table class="table table-success table-striped table-hover">
    <thead>
      <tr>
        <td>Service ID:</td>
        <td>Service Type:</td>
        <td>Service Date/Time:</td>
        <td>Service Mileage:</td>
        <td>Service Cost:</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let svc of services">
        <td>{{ svc.id }}</td>
        <td>{{ svc.type }}</td>
        <td>{{ svc.date }}</td>
        <td>{{ svc.odometer }}</td>
        <td>{{ svc.cost }}</td>
      </tr>
    </tbody>
  </table>
</div>

<form>
  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <input type="text" id="form3Example1" class="form-control" />
        <label class="form-label" for="form3Example1">First name</label>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <input type="text" id="form3Example2" class="form-control" />
        <label class="form-label" for="form3Example2">Last name</label>
      </div>
    </div>
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="form3Example3" class="form-control" />
    <label class="form-label" for="form3Example3">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="form3Example4" class="form-control" />
    <label class="form-label" for="form3Example4">Password</label>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
</form>
